/* ------ fonts ------ */

@font-face {
  font-family: "4_privet_driveregular";
  src: url("../assets/fonts/4privetdrive-regular-webfont.woff2") format("woff2"),
    url("../assets/4privetdrive-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harry_pregular";
  src: url("../assets/fonts/harryp-mvz6w-webfont.woff2") format("woff2"),
    url("../assets/fonts/harryp-mvz6w-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dearmrpotterregular";
  src: url("../assets/fonts/dearmrpotter-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/dearmrpotter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ------ global rules ------ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/paper_texture.jpg");
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  padding: 2rem;
}

main > section:not(#nav_main, aside),
hr {
  grid-column: 2/3;
  /* padding-left: 2rem;
  padding-right: 2rem; */
}

#nav_main,
#counter_bar {
  grid-column: 2/3;
}

#nav_main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

img {
  height: auto;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "harry_pregular", serif;
  font-size: 5rem;
}

h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "4_privet_driveregular", "Times New Roman", Times, serif;
  font-size: 1rem;
}

h4 {
  font-family: "IM Fell English", "Times New Roman", Times, serif;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "IM Fell English", "Times New Roman", Times, serif;
  font-size: 1rem;
}

button,
#filter {
  padding: 0.3rem;
  background-color: #ea9a60;
  border: 1px solid #000;
  border-radius: 0.3rem;
  transition: 0.3s;
}

button:hover {
  background-color: #000;
  color: #ea9a60;
  box-shadow: 1px 1px #ea9a60, 2px 2px #ea9a60, 3px 3px #ea9a60;
  transform: translateX(-3px);
}

hr {
  margin: 1.5rem 0 1.5rem 0;
}

/* ------ header, footer and logo ------ */
header,
footer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.logo {
  width: 20rem;
}

/* ------ student list rules ------ */
.student_container {
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 0.5rem;
  border-radius: 1rem;

  padding: 0.5rem;
  background-color: antiquewhite;
  box-shadow: 3px 3px 8px 0.5px;
}

.student_container.expelled {
  /* background-color: rgba(0, 0, 0, 0.7); */
  opacity: 0.5;
}

.student_container.expelled::after {
  z-index: 1;
  font-size: 3rem;
  content: "EXPELLED";
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#student_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.student_container [data-field="student_img"] {
  grid-column: 1/2;
}

.student_container img:not([data-field="student_img"]) {
  width: 30%;
}
.badges {
  margin-top: 0.5rem;
}
.info {
  grid-column: 2/4;
}

.info_wrapper {
  grid-column: 1/4;
}
/****************/

#student_list .info span {
  font-weight: 100;
}

/* ------ filter rules ------ */

/* .nav_filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
} */

.nav_filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search_sort {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 2rem;
  margin: 2rem 0;
}

.search_sort nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav_search {
  display: flex;
  gap: 1rem;
}

/* ------ search rules ------ */

.nav_search {
  display: flex;
}

#searchbar {
  padding: 0.3rem;
  background-color: antiquewhite;
}

/* ------ sorting rules ------ */
/* .nav_sorting {
  display: flex;
  justify-content: center;
} */

.nav_sorting {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#sort .sortby[data-sort-direction="asc"]::after {
  content: "🔽";
  /* ▽ */
}

#sort .sortby[data-sort-direction="desc"]::after {
  content: "🔼";
  /* △ */
}

/* *** prefect styling *** */
[data-field="prefect"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/* style on prefect */
img[data-field="prefect"][data-prefect="false"],
img[data-field="inq-squad"][data-inq-squad="false"] {
  filter: grayscale(100%);
}

/* ------ popup rules ------ */
#pop_up {
  display: none;
}

#pop_up.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

#pop_up .content {
  position: relative;
  background-color: #fff;
  padding: 1rem 1rem 0 1rem;
  border: 15px solid #000;
  border-radius: 1rem;
  box-shadow: 1px 1px 13px 2px;
  background-image: url("../assets/images/white_paper.jpg");

  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
}

#pop_up .top {
  display: flex;
  justify-content: space-between;
}

#pop_up .student_info {
  grid-column: 1/4;
}

#pop_up .content img {
  width: 5rem;
}

#pop_up .badges_btn {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#pop_up .badges {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
}

#pop_up .content.expelled {
  opacity: 0.5;
}

#pop_up .content.expelled::after {
  z-index: 1;
  font-size: 3rem;
  content: "EXPELLED";
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ------ counter rules ------ */
/* #counter_bar {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
} */
/* 
#counter_bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

#counter_bar div {
  margin: 2rem 0rem;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px 0.5px;
}

/* ------ prefects rules ------ */
#remove_aorb {
  display: none;
}

#remove_aorb.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#remove_aorb .dialog_content {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 1rem;
  box-shadow: 1px 1px 13px 2px;
}

@media (min-width: 465px) {
  .search_sort {
    flex-direction: row;
  }

  .all {
    display: flex;
  }

  [data-filter_type="all"] {
    align-self: end;
  }

  #pop_up .content {
    width: auto;
  }

  .search_wrapper {
    display: flex;
    gap: 1rem;
  }
}

@media (min-width: 598px) {
  .nav_sorting {
    justify-content: center;
    flex-direction: row;
  }

  .nav_search {
    justify-content: center;
  }
}

@media (min-width: 650px) {
  /* ------ filter rules ------ */
  .nav_filter {
    flex-direction: row;
    justify-content: center;
  }

  .nav_filter div {
    display: flex;
    flex-direction: column;
  }

  /* ------ counter bar rules ------ */
  #counter_bar {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  #pop_up .content img {
    width: 7rem;
  }

  /* #pop_up .content {
    grid-template-columns: repeat(2, 1fr);
  } */

  #pop_up .student_info {
    grid-column: 1/2;
  }

  #pop_up .badges_btn {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    place-self: end center;
  }

  #pop_up .badges {
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: end;
  }

  .info_wrapper {
    grid-column: 1/2;
  }
}
