* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

hr {
  margin: 1.5rem 0 1.5rem 0;
}

/* ------ header, footer and logo ------ */
header,
footer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.logo {
  width: 20rem;
}

/* ------ student list rules ------ */
#student_list tbody tr:nth-child(2n + 1) td {
  background-color: #dbdbdb;
}

#student_list tbody tr td {
  padding: 0.4rem;
}

/* ------ filter rules ------ */

.nav_filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0 3rem;
}

.nav_filter div {
  display: flex;
  flex-direction: column;
}

/* ------ search rules ------ */

.nav_search {
  display: flex;
  justify-content: center;
}

/* ------ sorting rules ------ */
.nav_sorting {
  display: flex;
  justify-content: center;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "🔽";
  /* ▽ */
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "🔼";
  /* △ */
}

#student_list th,
#student_list tr td {
  min-width: 2rem;
}

/* 
#student_list td {
  min-width: 200px;
} */

/* *** prefect styling *** */
[data-field="prefect"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/* style on prefect */
td[data-field="prefect"]::after {
  content: "🎖";
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(100%);
}

/* *** prefect inq-squad *** */
[data-field="inq-squad"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/* style on prefect */
td[data-field="inq-squad"]::after {
  content: "⭐";
}

td[data-field="inq-squad"][data-inq-squad="false"]::after {
  filter: grayscale(100%);
}

/* ------ popup rules ------ */
#pop_up {
  display: none;
}

#pop_up.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

#pop_up .content {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border: 15px solid #000;
  border-radius: 1rem;
  box-shadow: 1px 1px 13px 2px;
}

#pop_up .content img {
  width: 10rem;
}

#pop_up .student_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

/* ------ counter rules ------ */
aside {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

#counter_bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 650px) {
  /* ------ filter rules ------ */
  .nav_filter {
    flex-direction: row;
  }

  /* ------ counter bar rules ------ */
  #counter_bar {
    flex-direction: row;
  }
}

/* ------ prefects rules ------ */
#remove_aorb {
  display: none;
}

#remove_aorb.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#remove_aorb .dialog_content {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 1rem;
  box-shadow: 1px 1px 13px 2px;
}
